/* Move down content because we have a fixed navbar that is 3.5rem tall */

body {
    padding-top: 100px;
    color: #4c0303;

}

h2::before { 
  display: block; 
  content: " "; 
  margin-top: -110px; 
  height: 110px; 
  visibility: hidden; 
  pointer-events: none;
}

#intro {
    background-attachment: fixed;
    background-image: url('../image/4k-wallpaper-close-up-fingers-1246437.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 0px;
}

#services {
    background-attachment: fixed;
    background-image: url('../image/compose-entertainment-music-14548.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 0px;
}

#rent {
    background-attachment: fixed;
    background-image: url('../image/compose-entertainment-music-14548.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 0px;
}

#brs {
    background-attachment: fixed;
    background-image: url('../image/black-and-white-keys-music-534283.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 0px;
}

.op {
    opacity: 0.8;
    filter: alpha(opacity=80);
    background-color: #fff;
    /* For IE8 and earlier */
    padding: 35px;
}

.navbar-phone-icon {
    opacity: 0.6;
    filter: alpha(opacity=60);
    background-color: #fff;
    /* For IE8 and earlier */
    padding: 15px;
    border-radius: 50%;
}

.navbar-phone-icon:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    background-color: #fff;
    /* For IE8 and earlier */
}

.navbar-logo {
    width: 100px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    background-color: #fff;
    /* For IE8 and earlier */
    padding: 15px;
    border-radius: 50%;
}

.navbar-logo:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    background-color: #fff;
    /* For IE8 and earlier */
}

.bg-dark {
    background-color: #4c0303!important;
}

.btn-secondary {
    background-color: #4c0303;
    opacity: 0.6;
    filter: alpha(opacity=60);
    /* For IE8 and earlier */
}

.btn-secondary:hover {
    background-color: #4c0303;
    opacity: 0.9;
    filter: alpha(opacity=90);
    /* For IE8 and earlier */
}

.right-teaser {
	padding: 1px;
	border: 1px solid #4c0303;
	float: right;
	margin: 0 0 1em 1em;
}

.sample-pic {
	padding: 1px;
	border: 1px solid #4c0303;
	margin: 1em 1em;
}

.life-pic {
    width: 150px;
	padding: 1px;
	border: 1px solid #4c0303;
	margin: 1em 1em;
}