/* Move down content because we have a fixed navbar that is 3.5rem tall */

body {
    padding-top: 3.5rem;
    color: #4c0303;

}

#intro {
    background-attachment: fixed;
    background-image: url('../image/4k-wallpaper-close-up-fingers-1246437.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 0px;
}

.op {
    opacity: 0.8;
    filter: alpha(opacity=80);
    background-color: #fff;
    /* For IE8 and earlier */
    padding: 35px;
}


